.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 30vh;
}

.item {
  flex: 2;
  height: 100%;
  background-position: right;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
  
}

.item1 {
  flex:7 14;
  height: 100%;
  background-position: right;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
  
}

.item:hover{
    flex: 15;

     }



.item-1 { 
  background-image: url('../img/scary_proj.png');
}

.item-2 { 
  background-image: url('../img/close-up-photo-of-black-typewriter-977930.jpg');
 }

.item-3 { 
  background-image: url('../img/Screenshot_BFH.png');
}

a.item h2{
	display:flex;
	font-size:2rem;
	font-weight:400;
	color:#FFFFFF;
	background-color: #6BD4D0D9;
	padding-top:0.2rem;
	padding-bottom:0.2rem;
	margin-top: 1rem;
	margin-right: 2rem;
	margin-left: 0.5rem;
}

a.item1 h2{
	display:flex;
	font-size:2rem;
	font-weight:400;
	color:#FFFFFF;
	background-color: #6BD4D0D9;
	padding-top:0.2rem;
	padding-bottom:0.2rem;
	margin-top: 1rem;
	margin-right: 2rem;
	margin-left: 0.5rem;
}

.item1 a:active a:focus a:hover h2{
	color: #9089ac
}

@media (max-width:992px){
	a.item h2{
	display:flex;
	font-size:3vw;
	font-weight:400;
	color:#FFFFFF;
	background-color: #6BD4D0D9;
	padding-top:0.2rem;
	padding-bottom:0.2rem;
	margin-top: 1rem;
	margin-right: 2rem;
	margin-left: 0.5rem;
}

a.item1 h2{
	display:flex;
	font-size:3vw;
	font-weight:400;
	color:#FFFFFF;
	background-color: #6BD4D0D9;
	padding-top:0.2rem;
	padding-bottom:0.2rem;
	margin-top: 1rem;
	margin-right: 2rem;
	margin-left: 0.5rem;
}
}

@media (max-width:768px){	

.gallery-wrap {
  display: flex;
  flex-direction:column;
  width: 80vw;
  height: 80%;
}
	a.item h2{
	display:flex;
	font-size:4vw;
	font-weight:400;
	color:#FFFFFF;
	background-color: #6BD4D0D9;
	padding-top:0.2rem;
	padding-bottom:0.2rem;
	margin-top: 1rem;
	margin-right: 2rem;
	margin-left: 0.5rem;
}

a.item1 h2{
	display:flex;
	font-size:4vw;
	font-weight:400;
	color:#FFFFFF;
	background-color: #6BD4D0D9;
	padding-top:0.2rem;
	padding-bottom:0.2rem;
	margin-top: 1rem;
	margin-right: 2rem;
	margin-left: 0.5rem;
}}